<header>
    <ul class="header-list">
        <% if (!locals.isAuth) { %>
            <li> <a href="/">Home</a></li>
            <li> <a href="/signup">Sign Up</a></li>
            <li> <a href="/login">Log In</a></li>
        <% } %>
        <% if(locals.isAuth) { %>
            <% if (locals.isAdmin) { %>
                <li> <a href="/admin">Dashboard</a></li>
                <li> <a href="/admin/add-product">Add Product</a></li>
                <li> <a href="/admin/all-orders">View Orders</a></li>
            <% } else { %>
                <li> <a href="/cart">Cart</a></li>
                <li><a href="/order">My Orders</a></li>
            <% } %>
        <li> <a href="/products">Products</a> </li>
        <li>
            <form action="/logout" method="POST">
                <input type="hidden" value="<%= locals.csrfToken %>" name="_csrf">
                <button class="btn">Log Out</button>
            </form>
        </li>
        <% } %>
    </ul>
</header>