#product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    padding: 0;
    gap: 1rem;
    margin: 0 auto;
    list-style: none;
}

.product-card {
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--color-gray-300);
}

.card-image {
    object-fit: cover;
    width: 100%;
    height: 50%;
}

.card-body {
    background-color: var(--color-gray-300);
    padding: 0.5rem;
    border-radius: 8px;
}

.details-image {
    object-fit: cover;
    height: 25rem;
    width: 40rem;
}

.details-body{
    background-color: var(--color-gray-300);
    padding: 1rem;
    width: 40rem;
    margin: 0 auto;
}