#config-overlay {
    text-align: center;
}

#config-overlay h2 {
    margin: 0.5rem 0;
}

#form-control {
    margin: 0.5rem 0;
}

#form-control label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#form-control input {
    font: inherit;
    border: 1px solid rgb(204, 204, 204);
    width: 15rem;
    padding: 0.35rem;
    margin-bottom: .5rem;
}

.error label {
    color: rgb(136, 2, 2);
}


.error input{
    border-color: rgb(136, 2, 2);
    color: rgb(136, 2, 2);
    background-color: rgb(253, 219, 219);
}

#config-section {
    width: 90%;
    max-width: 40rem;
    text-align: center;
    margin: 3rem auto;
}

#player-info {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.player-card {
    background-color: rgb(181, 164, 214);
    width: 50%;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(40, 40, 40, 0.02);
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
}

.player-text {
    font-weight: bold;
    font-size: 1rem;
    margin: .5rem 0;
}

.player-name-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(91, 28, 207);
    margin: .5rem 0;
}

.player-symbol {
    font-size: 2rem;
    font-weight: bold;
    margin: .5rem 0;
}