<%- include('includes/head.ejs', {title: 'Welcome'}) %> 
</head>
<body>
    <%- include('includes/header.ejs') %>
    <main>
        <h1>Welcome to the Shop!</h1>
        <p>Here you can exhange your money for various sundries.</p>
        <p>You'll need to <a href="/login">login</a> first though. Or make a <a href="/signup">new accout</a> if this is your first time here.</p>
    </main>
</body>
</html>