<%- include('../includes/head.ejs', {title: 'Admin'}) %> 
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <main>
        <h1>Welcome Administrator!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias pariatur beatae non, unde ipsa dignissimos consequatur! Quidem quasi modi illum perspiciatis minima fuga et, amet, nemo necessitatibus, eos alias eaque.</p>
    </main>
</body>
</html>