<%- include('../includes/head.ejs', {title: 'Unauthenticated'}) %> 
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <main>
        <h1>You cannot access this page.</h1>
        <p>Please try again after <a href="/login">logging in</a>.</p>
    </main>
</body>
</html>