<%- include('../includes/head.ejs', {title: 'Unauthorized'}) %> 
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <main>
        <h1>You are not authorized to view this page.</h1>
        <p>You don't have the right permissions to view this page, sorry.</p>
    </main>
</body>
</html>