<%- include('../includes/head.ejs', {title: 'Page Not Found'}) %> 
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <main>
        <h1>Page Not Found</h1>
        <p>We couldn't find the page you're looking for, sorry.</p>
    </main>
</body>
</html>