<%- include('../includes/head.ejs', {title: 'Error'}) %> 
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <main>
        <h1>Something has gone wrong!</h1>
        <p>It looks like we're having some issues on end. Please try again later.</p>
    </main>
</body>
</html>